@import '../../assets/scss/mixins';

.jogs{
  justify-content: center;
  margin: 0;
  height: 100%;

  &__container {
    position: relative;

    &-padding {
      @include respond(l-phone) {
        padding-top: 11.6rem;
      }
    }
  }
}

.circle-button {
  position: fixed;
  right: 4rem;
  bottom: 4rem;

  @include respond(l-phone) {
    right: 4rem;
    bottom: 4rem;

    &__icon {
      width: 8rem;
      height: 8rem;
    }
  }

  @include respond(xl-phone) {
    right: 2rem;
    bottom: 2rem;

    &__icon {
      width: 7rem;
      height: 7rem;
    }
  }

  @include respond(m-phone) {
    right: 2rem;
    bottom: 2rem;

    &__icon {
      width: 6rem;
      height: 6rem;
    }
  }

  @include respond(s-phone) {
    right: 1rem;
    bottom: 1rem;
  }
}
