.button {
  width: 15rem;
  height: 6rem;
  border-radius: 3.6rem;
  font-size: 1.8rem;
  font-weight: bold;
  background: none;
  color: var(--classic-white);
  cursor: pointer;
  border: 3px solid var(--classic-white);
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.9);
  }
}
