:root{
  /*Global colors*/
  --pageBackground: #ffffff;
  --classic-white: #ffffff;
  --classic-black: #000000;
  --apple-green: #7ed321;
  --baby-purple: #e990f9;
  --light-gray-1: #eaeaea;
  --light-gray-2: #bdbdbd;
  --dark-gray-1: #979797;
  --dark-gray-2: #7b7b7b;

  /*Loader colors*/
  --loaderCircles: #7ed321;
  --loaderBubbles: #e990f9;
}
