@import '../../assets/scss/mixins';

.jogs-creator{
  &__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 40%;
    left: 50%;
    margin: auto;
    width: 50rem;
    height: 38rem;
    min-height: 20rem;
    border-radius: 4.4rem;
    transform: translate(-50%, -50%);
    background: var(--apple-green);

    @include respond(l-phone) {
      top: 50%;
      width: 80%;
      height: 55%;
      padding-top: 4rem;
    }

    @include respond(s-phone) {
      height: 60%;
      padding-top: 3rem;
    }

    &-close {
      position: absolute;
      z-index: 1000;
      top: 2.7rem;
      right: 2.7rem;
      cursor: pointer;

      @include respond(l-phone) {
        width: 3rem;
      }
    }

    &-field {
      display: flex;
      justify-content: space-between;
      width: 32rem;
      margin: 0 2rem 2.5rem;

      @include respond(l-phone) {
        flex-direction: column;
        width: 80%;
        margin: 1rem 0;
      }

      @include respond(s-phone) {
        margin: 0.5rem 0;
      }

      &-text {
        font-size: 1.6rem;
        font-weight: 500;
        margin-right: 1rem;
        width: 7rem;
        color: var(--classic-black);

        @include respond(l-phone) {
          font-size: 2.2rem;
          line-height: 3rem;
        }

        @include respond(s-phone) {
          font-size: 1.7rem;
          line-height: 2.5rem;
        }
      }

      &-input {
        width: 23.6rem;
        line-height: 3rem;
        border-radius: 11px;
        text-align: center;
        align-self: center;
        padding: 0;
        padding-inline-start: 0;
        border: 1px solid var(--dark-gray-1);
        background-color: var(--classic-white);

        @include respond(l-phone) {
          align-items: center;
          font-size: 2.2rem;
          line-height: 5rem;
          width: 100%;
        }
        @include respond(s-phone) {
          font-size: 2rem;
          line-height: 4rem;
        }

        &:focus {
          outline: none;
          border: 1px solid var(--dark-gray-2);
        }

      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  .button {
    font-size: 1.3rem;
    width: 32rem;
    height: 4.2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 25.2px;

    @include respond(l-phone) {
      font-size: 2.2rem;
      font-weight: normal;
      margin: 5rem 0;
      width: 80%;
      height: 7rem;
    }

    @include respond(s-phone) {
      font-size: 1.8rem;
      font-weight: normal;
      margin: 3rem 0;
      height: 5rem;
    }
  }
}

.react-datepicker { font-size: 1rem !important }
.react-datepicker__header { padding-top: 0.8rem !important}
.react-datepicker__month { margin: 0.4rem 1rem !important}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9rem !important;
  line-height: 1.9rem !important;
  margin: 0.166rem !important;
}

@include respond(l-phone) {
  .react-datepicker { font-size: 1.7rem !important }
  .react-datepicker__header { padding-top: 1.2rem !important}
  .react-datepicker__current-month {
    margin: 1.8rem 2rem !important;
    font-size: 2rem;}
  .react-datepicker__day-name, .react-datepicker__day {
    width: 3rem !important;
    height: 3rem !important;
    line-height: 1.9rem !important;
    margin: 0.166rem !important;
  }
  .react-datepicker__navigation--next, .react-datepicker__navigation--previous {
    height: 2rem !important;
    width: 2rem !important;
    top: 2.5rem !important;
  }
  .react-datepicker__navigation {
    border: 1.45rem solid #ccc !important;
  }
  .react-datepicker-popper { transform: translate3d(40%, 50%, 0px) !important;}
}


